#!/usr/bin/env bash
# undefined

# Team Shared direnv.
# See: https://github.com/direnv/direnv

# Enforces `set -euo pipefail` despite user local config.
strict_env

# User local additions.
source_env_if_exists .envrc.local

# Load rtx or asdf
if has rtx; then
  use rtx
elif has asdf; then
  log_status "rtx not found. Falling back to asdf."
  use asdf
else
  log_error "Neither rtx nor asdf are installed."
  log_error "For asdf: https://asdf-vm.com/"
  log_error "For rtx (asdf clone in rust): https://github.com/jdxcode/rtx"
fi

layout node

# Docker
export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1

# Required Env Vars for this project
export NPM_TOKEN="${NPM_TOKEN:-}"